/****************** CSS RESET ******************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6,
p, a, em, img, strong, i, center, ol, ul, li, form, label,
input, textarea, table, caption, tbody, thead, tr, th, td,
article, aside, figure, figcaption, footer, header, menu,
nav, section  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font-family: brandon-grotesque, sans-serif;
	vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}
/* HTML5 display-role reset for older browsers */
article, details, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  	background-color: black;
  	color: white;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************** COLORS ******************/

/*
blue: #385959;
beige:#F2F2DC
red:  #963722;
*/

/****************** GENERAL ******************/

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h1, h2, h3 {
	line-height: 1.5;
}

p {
	font-size: 1.1rem;
	line-height: 1.3rem;
}

input, textarea {
	display: block;
	border: none;
	padding: .4rem .2rem;
	width: 100%;
	background-color: #262626;
	color: white;
	border-bottom: 1px solid white;
	font-size: 1.2rem;
}

.wrapper {
	padding: 1rem;
	position: relative;
}

.arrow-down {
	background-image: url("./icons/arrow_down_45x25-01.svg");
	width: 45px;
	height: 25px;
	margin: 2.5rem auto;
}

.col-2 {
	display: inline-block;
	width: 49.5%;
	vertical-align: top;
}

.col-2:last-of-type {
	float: right;
}

/****************** NAV ******************/

.logo {
	display: inline-block;
	background-image: url("./icons/spacex_logo_160x42-01.svg");
	background-repeat: no-repeat;
	width: 160px;
	height: 42px;
}

.mobile-button, .close-button {
	display: inline-block;
	background-image: url("./icons/burger_50x50-01.svg");
	background-repeat: no-repeat;
	width: 45px;
	height: 45px;
	float: right;
}

.close {
	display: none;
	background-image: url("./icons/close_50x50-01.svg");
	background-repeat: no-repeat;
	width: 45px;
	height: 45px;
	float: right;
}

.nav-menu {
	padding-left: 1.5rem;
	position: absolute;
	right: 0;
	display: none;
	z-index: 2;
	background-color: black;
	width: 200px;
	height: 100%;
	text-align: center;
	overflow-x: hidden;
	transition: 0.5s;
}

.nav-menu li {
	padding: 1rem;
	border-bottom: 1px solid #505050;
}

/****************** HERO ******************/

.hero {
	position: relative;
	background-image: url("./img/horizon_lg_1600x900.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 490px;
}

.hero.future {
	background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
						url("./img/building_rocket_lg_1600x846.jpg");
}

.hero.historic {
	background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
					  url("./img/spaceshuttle_inflight_820x419.jpg");
}

.hero .wrapper {
	padding: 1.2em;
}

.launch-club {
	background-color: #385959;
	display: block;
	padding: .5rem;
}

.countdown {
	padding-bottom: 4rem;
}

.timer-col {
	display: inline-block;
	padding: .3rem;
	text-align: center;
}

.timer-col h2 {
	border-bottom: 1px solid white;
}

.hero-header {
	padding-top: 2rem;
}

.mission-patch {
	/* background-color: #D96D55; */
	vertical-align: middle;
	display: inline-block;
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

.mission-info {
	vertical-align: middle;
	display: inline-block;
	max-width: 63%;
}

.mission-info h2:first-of-type {
	border-top: 1px solid white;
}

.hero-extra .mission-info h2 {
	font-size: 28px;
}

.hero-message {
	padding-top: 12rem;
}

.wrapper .launch-date h3 {
	margin: 0;
}

/****************** LAUNCH BOX ******************/

.launch {
	background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("./img/rocket_distance_1600x777.jpg");
	background-size: cover;
}

.launch .wrapper {
	padding: 2rem;
}

.launch .data {
	display: flex;
	/* width: 49%; */
}

.launch .data p {
	flex: 1;

}

.launch h3 {
	margin: 1.1rem 0;
}

.data-wrapper {
	margin: 1rem 0;
}

.launch .links {
	display: inline;
}

/****************** ABOUT ******************/

.about {
	background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("./img/earth_rise_1600x864.jpg");
}

.rocket-icon {
	background-image: url("./icons/rocket_27x100-01.svg");
	width: 54px;
	height: 200px;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.timeline-intro:first-of-type {
	display: inline-block;
	width: 60px;
}

.timeline-intro {
	width: 75%;
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
}

.line {
	position: relative;
	margin: 0 auto;
}

.line::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 10px;
	margin-left: 25px;
}

.timeline-box {
	background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("./img/spaceshuttle_inflight_820x419.jpg");
	border: 3px solid white;
	margin: 1rem 1rem 3rem 5rem;
	width: 70%;
	position: relative;
	border-radius: 5px;
}

.timeline-box h3:first-of-type {
	border-bottom: 1px solid white;
	line-height: 1.7rem;
}

.timeline-box h3:last-of-type {
	margin-bottom: 1.5rem;
}

.timeline-box p:first-of-type {
	margin-bottom: .6rem;
}

.timeline-box::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 2px;
	width: 0;
	left: -10px;
	border: 1px solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}

.timeline-box::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	left: -57.6px;
	background-color: white;
	border: 4px solid #385959;
	top: -4px;
	border-radius: 50%;
	z-index: 1;
}

.timeline-cloud {
	background-image: url("./icons/launch_cloud_60x27-01.svg");
	width: 70px;
	height: 31px;
	margin-left: 4px;
}

/****************** CONTACT ******************/

.contact .wrapper {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.contact h2 {
	margin: 1rem 0 2rem;
}

form {
	text-align: left;
}

label {
	display: block;
	margin: 1rem 0 .2rem;
}

input[name="contact"] {
	background-image: url("./icons/contact_button_300x50-01.svg");
	background-color: transparent;
	background-repeat: no-repeat;
	font-size: 1.1rem;
	width: 250px;
	height: 42px;
	border: none;
	color: white;
	display: block;
	margin: 2rem auto 0;
	outline: transparent;
}

.response {
	text-align: center;
	margin: 1rem;
	color: red;
}

.response p {
	font-size: 1.3rem;
}

/****************** NEWSLETTER ******************/

.newsletter {
	text-align: center;
	padding: 2rem 0;
}

.newsletter .wrapper {
	width: 80%;
	margin: 0 auto;
	text-align: left;
}

.newsletter h3 {
	margin: 1rem 0 .3rem;
}

.newsletter p {
	text-align: center;
	visibility: hidden;
}

input[name="button"], .contact input[name="submit"] {
	background-image: url("./icons/subscribe_300x25_passive-01.svg");
	background-repeat: none;
	background-size: cover;
	width: 240px;
	height: 40px;
	background-color: transparent;
	color: white;
	font-size: 1.3rem;
	margin: 1rem auto 0;
	border-bottom: none;
	outline: transparent;
}

input[name="button"]:hover {
	background-image: url("./icons/subscribe_300x25_hover-01.svg");
	width: 240px;
	height: 40px;
	color: black;
	cursor: pointer;
}

input[name="contact"]:hover {
	background-image: url("./icons/contact_button_300x50_hover-01.svg");
	width: 250px;
	height: 42px;
	color: black;
	cursor: pointer;
}

footer .wrapper {
	border-top: 1px solid white;
	padding: 1rem 0 0 0;
	margin: 1rem;
}

footer .logo {
	display: block;
	margin: 1rem;
}

footer ul {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 1rem;
	width: 60%;
}

footer ul li {
	padding: .2rem;
}

footer ul:last-of-type li {
	display: inline-block;
	margin: 0 .2rem;
}

footer ul li a {
	font-size: 1.2rem;
}

#facebook {
	background-image: url("./icons/social_sm-01.svg");
}

#snapchat {
	background-image: url("./icons/social_sm-02.svg");
}

#instagram {
	background-image: url("./icons/social_sm-03.svg");
}

#twitter {
	background-image: url("./icons/social_sm-04.svg");
}
footer ul:last-of-type a {
	width: 25px;
	height: 25px;
	display: inline-block;
} 

.copyright {
	text-align: center;
}

/************************************* 
				TABLET 
**************************************/

@media only screen and (min-width: 768px) {

	h1, h2, h3 {
		line-height: 1.5;
	}

	h1 {
		font-size: 1.8rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	p {
		font-size: 1rem;
		line-height: 1.3rem;
	}

	

	/****************** HERO ******************/

	.countdown {
		margin: 3rem 3rem 0 3rem;
	}

	.hero-header, .hero-message {
		margin-left: 2rem;
	}

	.hero-header-main {
		margin: 4rem 2rem 0;
	}

	.hero h3 {
		font-weight: normal;
		padding-bottom: .5rem;
	}

	.mission-info h2:first-of-type {
		border-top: 1px solid white;
		padding-top: .5rem;
	}

	.mission-patch { 
		margin: 1rem;
	}

	/****************** TIMELINE ******************/	
	.timeline-order {
		display: flex;
		flex-direction: column-reverse;
	}

	.timeline-intro {
		display: block;
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}
	
	.line::after {
		left: 50%;
		margin-left: -3px;
	}

	.left {
		left: 0;
	}

	.right {
		left: 50%;
	}

	.timeline-box {
		position: relative;
		display: block;
		margin: 1rem 2.2rem;
		max-width: 40%;
	}

	.left::before {
		left: 100%;
  		border-width: 10px 0 10px 10px;
  		border-color: transparent transparent transparent white;
	}

	.right::after {
		left: -53px;
	}

	.left::after {
		right: -18%;
		left: initial;
	}

	.timeline-cloud {
		margin: 0 auto;
		height: 32px;
		width: 70px;
	}

	/****************** NEWSLETTER ******************/

	.newsletter {
		padding: 5rem 0;
	}
	
	/****************** CONTACT ******************/

	.contact .wrapper, .newsletter .wrapper {
		width: 60%;
	}

	/****************** FOOTER ******************/

	footer .wrapper {
		margin: 0 auto;
	}

	footer .logo {
		margin: 1rem auto 1rem;
	}

	footer ul {
		display: inline-block;
		width: 49%;
		text-align: center;
		margin: 0;
	}

	footer ul:last-of-type li {
		display: block;
	}
}

@media only screen and (min-width: 992px) {

	.launch .wrapper {
		padding: 4rem;
	}

	/****************** HERO ******************/

	.hero {
		height: 600px;
	}

	.launch-club {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		float: right;
		margin: 4rem;
		padding: 1rem;
	}

	.launch-club p {
		text-align: center;
		padding: .3rem;
	}

	.hero-message {
		margin-left: 3rem;
	}

	/****************** NAV ******************/

	nav {
		padding: .5rem 0;
	}

	nav .wrapper {
		display: inline-block;
		width: 15%;
		padding: 1rem 2rem;
	}
	.nav-menu {
		display: inline-block;
		width: 75%;
		line-height: 80px;
		height: initial;
	}

	.nav-menu li {
		display: inline-block;
		border: none;
		padding: 0 .6rem;
	}

	.nav-menu a {
		font-size: 1rem;
	}

	.nav-menu a:hover {
		border-bottom: 1px solid white;
	}

	.mobile-button, .close {
		display: none;
	}
}

/************************************* 
				DESKTOP
**************************************/

@media only screen and (min-width: 1200px) {
	
	/****************** NAV ******************/
	.nav-menu {
		text-align: left;
	}

	nav .wrapper {
		padding: 1rem 2rem 1rem 6rem;
	}

	/****************** HERO ******************/
	.hero .wrapper {
		padding: 3rem;
	}

	.hero-header {
		margin: 3rem;
	}

	.hero-header-main {
		margin: 5rem 2rem 0;
	}

	.launch-club {
		margin: 6rem;
	}

	/****************** TIMELINE ******************/

	.timeline {
		width: 80%;
		margin: 0 auto;
	}

	.timeline-intro:last-of-type {
		margin: 1.5rem auto 3rem;
	}

	/****************** CONTACT ******************/

	.contact .wrapper, .newsletter .wrapper {
		width: 40%;
	}
}

/************************************* 
				WIDE SCREEN
**************************************/

@media only screen and (min-width: 1600px) {
	.hero {
		min-height: 800px;
	}

	.hero-header {
		margin: 7rem;
	}

	.hero-header-main { 
		margin: 14rem 7rem 0;
	}

	.hero-message {
		margin-left: 7rem;
	}

	.countdown {
		margin: 5rem 9rem 0 9rem;
	}

	.launch {
		width: 60%;
		margin: 0 auto;
	}

	.launch-club {
		margin: 8rem;
	}
}